# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Keras
5. Tensorflow

#### Data Science Tools:

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| PyCharm            |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# 1. Addition:
sum = 2 + 3
sum

5

In [11]:
# 2. Subtraction:
minus = 6-2
minus

4

In [12]:
# 3. Multiplication:
prod = 6 * 2
prod

12

In [13]:
# 4. Division:
div = 6/2
div

3.0

In [14]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60.
mins = 200
hrs = mins / 60
hrs

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List common libraries for Data Science
- List common Data Science tools
- Examples of arithmetic expressions usage
- Examples of multiple operations

## Author
K Sharanya